@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  background: none;
  border: none;
  font-family: Roboto, serif;
}

h1 {
  font-size: 24px;
  font-weight: 800;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

main {
  position: relative;
}

.buttonFade {
  height: 45px;
  width: 200px;
  border-radius: 30px;
  padding: 0px 5px;
  color: white;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  font-weight: 500;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  margin: 20px auto;
}

.buttonFade:hover {
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.301);
  background: linear-gradient(175deg, #ff93e1, #a16be0);
}

.heart {
  height: 25px;
  width: 30px;
  stroke: black;
  fill: white;
  stroke-width: 20px;
  transition: 0.5s;
  position: absolute;
  top: 20%;
  right: 20px;
}

.heart:hover {
  fill: url(#MyGradient);
  stroke-width: 0;
}

header {
  position: relative;
  height: 70px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.301);
  display: flex;
  justify-content: center;
  align-items: center;
}
header #headerLogo {
  height: 34px;
  width: 196px;
  position: absolute;
}

.arrowBack {
  position: absolute;
  margin-left: 15px;
  left: 0px;
  top: 30px;
}

#restaurantBackground {
  height: 240px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -210px;
  z-index: -1;
}

.menu {
  z-index: 10;
  position: relative;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 40px;
  padding: 8px 8px 35px 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1440px;
  margin: 210px auto auto auto;
}
.menuService {
  opacity: 0;
  width: 100%;
}
.menuService:nth-child(2) {
  animation: slideUp 2s 0.6s forwards;
}
.menuService:nth-child(3) {
  animation: slideUp 2s 0.9s forwards;
}
.menuService:nth-child(4) {
  animation: slideUp 2s 1.2s forwards;
}
.menuServiceTitle {
  font-size: 16px;
  font-weight: 300;
  margin: 35px auto 20px 5px;
  position: relative;
}
.menuServiceTitle::before {
  content: "";
  width: 35px;
  height: 3px;
  background: #99E2D0;
  position: absolute;
  bottom: -7px;
}
.menuBox {
  display: flex;
  width: 90%;
  margin: 10px;
  padding: 4px;
  position: relative;
}
.menuBoxTitle {
  font-family: shrikhand, serif;
  font-size: 23px;
  font-weight: 500;
}
.menuBox .heart {
  left: 90%;
}
.menuDish {
  width: 100%;
  height: 60px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
  margin: 10px 0px;
  padding-left: 7px;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}
.menuDishAdd {
  background-color: #99E2D0;
  height: 100%;
  width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuDish:hover > .menuDishAdd {
  animation: widthLeft 0.5s linear forwards;
}
.menuDish:hover .fa-check-circle {
  animation: rotateIcon 0.5s forwards;
}
.menuDishBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 13px 0px;
  overflow: hidden;
}
.menuDishName {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menuDishDescription {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menuDishPrice {
  font-size: 14px;
  font-weight: 600;
  height: fit-content;
  margin: 35px 15px 0px auto;
}

.fa-check-circle {
  color: white;
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes widthLeft {
  0% {
    width: 0;
  }
  100% {
    width: 20%;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.footer {
  background-color: #353535;
  padding: 15px 20px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 300;
}
.footerTitle {
  font-family: shrikhand, serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.footerLinks {
  display: flex;
  align-items: center;
  width: 170px;
  margin: 3px 0px;
  font-size: 14px;
}
.footerLinks:hover > p {
  text-decoration: underline;
}
.footerIcon {
  width: 10px;
  margin-right: 10px;
}
.footerPartner {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .menu {
    width: 80%;
  }
  .menuService {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    flex-wrap: wrap;
    width: 95%;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    margin-bottom: 10px;
  }
  .menuBoxTitle {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
  }
  .menuService {
    width: 30%;
    height: 450px;
  }
  .menuServiceTitle {
    margin-bottom: 35px;
  }
  .menuDish {
    width: 90%;
    height: 70px;
    margin-top: 20px;
  }
  .menuDishBox {
    margin: 17px 0px;
  }
  .menu .heart {
    left: 100%;
  }

  .footer {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
  }
  .footerTitle {
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
  }
}

/*# sourceMappingURL=restaurant.css.map */
