// Style de la div explorer
#explorer {
    width: 100%;
    // Taille et style des descriptions du site
    &About {
        background-color: $lightgrey;
        height: auto;
        padding: 20px 10px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        // Marge et positionnement des paragraphes et titre de l'explorer
        p, h1 {
            text-align: center;
            margin: 4px 7px;
        }
        // Taille et style des paragraphes de l'explorer
        p {
            font-size: 15px;
            font-weight: 300;
        }
    }
}

// Style de la div search
#search {
    width: 100%;
    height: 50px;
    @include allCenter;
    position: relative;
    z-index: 2;
    background-color: $darkergrey;
    // Style de la barre de recherche
    &Bar {
        height: 40px;
        width: 140px;
        font-size: 16px;
        font-weight: 500;
        padding-left: 10px;
    }
    // Taille de l'icone de recherche
    &Icon {
        height: 16px;
        width: 22px;
    }
}


