header {
    position: relative;
    height: 70px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.300) ;
    @include allCenter;

    #headerLogo {
        height: 34px;
        width: 196px;
        position: absolute;
    }
}