header {
    position: relative;
    height: 70px;
    box-shadow: $shadowblack ;
    @include allCenter;

    #headerLogo {
        height: 34px;
        width: 196px;
        position: absolute;
    }
}