// Import de la fleche de retour
@import '../2-basics/arrowBack';

// Style de l'image de fond des restaurants
#restaurantBackground {
    height: 240px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top:-210px;
    z-index: -1;
}

// Style du menu
.menu {
    z-index: 10;
    position: relative;
    width: 100%;
    background-color: $lightgrey;
    border-radius: 40px;
    padding: 8px 8px 35px 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
    margin: 210px auto auto auto;

    // Style de la box du restaurant
    &Box {
        display: flex;
        width: 90%;
        margin: 10px;
        padding: 4px;
        position: relative;
        // Taille et style du titre de la box
        &Title {
            font-family: $font-title;
            font-size: 23px;
            font-weight: 500;
        }
        // Positionnement du coeur (SVG)
        .heart {
            left: 90%;
        }
    }

    // Style des services
    &Service {
        opacity: 0;
        width: 100%;
        // Boucle for pour mettre l'animation à chaque service
        @for $i from 2 through 4 {
            &:nth-child(#{$i}) {
                animation: slideUp 2s 0.3s*($i) forwards;
                }
            }
        // Style des titres des services
        &Title {
            font-size: 16px;
            font-weight: 300;
            margin: 35px auto 20px 5px;
            position: relative;
            // Style de la bordure coloré des titres de service
            &::before {
                content: '';
                width: 35px;
                height: 3px;
                background: $tertiary;
                position: absolute;
                bottom: -7px;
            }
        }
    }

    // Style des repas du menu
    &Dish {
        width: 100%;
        height: 60px;
        box-shadow: $shadow;
        border-radius: 15px;
        background-color: white;
        margin: 10px 0px;
        padding-left: 7px;
        display: flex;
        overflow: hidden;
        cursor: pointer;
        transition:  transform 0.5s;
        // Taille de la div sera affiché au survol
        &Add {
            background-color: #99E2D0;
            height: 100%;
            width: 0px;
            @include allCenter;
            transition: 0.5s linear;
        }
        // Apparition de la div Add au survol du repas
        &:hover > &Add{
            width: 20%;
        }
        // Rotation de l'icone check au survol du repas
        &:hover .fa-check-circle {
            animation: rotateIcon 0.5s linear;
        }
        // Style de la box des repas
        &Box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 13px 0px;
            overflow: hidden; 
        }
        // Style des noms des repas
        &Name {
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis; 
            overflow: hidden; 
            white-space: nowrap; 
        }
        // Style de la description des repas
        &Description {
            font-size: 12px;
            text-overflow: ellipsis; 
            overflow: hidden; 
            white-space: nowrap;
        }
        // Style du prix des repas
        &Price {
            font-size: 14px;
            font-weight: 600;
            height: fit-content;
            margin: 35px 15px 0px auto;
        }
    }
}

// Couleur de l'icone check
.fa-check-circle {
    color: white;
}

// Animation de rotation
@keyframes rotateIcon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


// Animation d'apparition et de mouvement vers le haut
@keyframes slideUp {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
