// Responsive pour les restaurants -- Version Tablette
@media screen and (min-width: 768px) {
    // Changement de largeur du menu
    .menu {
        width: 80%;
        // Changement de largeur des services
        &Service {
            width: 80%;
        }
    }
}




// Responsive pour les restaurants -- Version Desktop
@media screen and (min-width: 1024px) {
    //  Changement du menu pour mettre les services en ligne
    .menu {
        flex-wrap: wrap;
        width: 95%;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        margin-bottom: 10px;
        // Style du titre
        &BoxTitle {
            margin: auto;
            width: 100%;
            text-align: center;
            margin-bottom: 35px;
        }
        // Taille des services
        &Service {
            width: 30%;
            height: 450px;
            &Title {
                margin-bottom: 35px;
            }
        }
        // Taille et marge des repas
        &Dish {
            width: 90%;
            height: 70px;
            margin-top: 20px;
            &Box {
                margin: 17px 0px;
            }
        }
    // Positionnement du coeur
    .heart {
        left: 100%;
    }
    }
    // Changement du footer pour mettre les liens en ligne
    .footer {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
        // Taille et marge du titre du footer
        &Title {
            width: 100%;
            margin-bottom: 25px;
            text-align: center;
        }
    }
}
