// Réinitialisation du CSS
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background: none;
    border: none;
    font-family: $font-text;
}

// Taille et style des h1 du site
h1 {
    font-size: 24px;
    font-weight: 800;
}

// Style des boutons du site
button {
    cursor: pointer;
}

// Réinitialisation des liens du site
a {
    color: inherit;
}

// Positionnement de la div main
main {
    position: relative;
}
