// Réinitialisation du CSS

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background: none;
    border: none;
    font-family: $font-text;
}

h1 {
    font-size: 24px;
    font-weight: 800;
}