// Style des boutons du site
.buttonFade {
    height: 45px;
    width: 200px;
    border-radius: 30px;
    padding: 0px 5px;
    color: white;
    box-shadow: $shadow;
    font-size: 15px;
    font-weight: 500;
    background : linear-gradient(175deg, $secondary, $primary);
    margin: 20px auto;
}

// Animation au survol des boutons
.buttonFade:hover {
    box-shadow: $largershadow;
    background: linear-gradient(175deg, lighten($secondary, 5%),lighten($primary, 5%));
}